<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.dmarcini.submatix.android4"
    android:versionCode="3"
    android:versionName="0.2beta" android:installLocation="auto">

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />
    <!--  Berechtigungen  -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    
    <!-- Die Anwendungsbeschreibung  -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppDarkTheme" 
        android:description="@string/app_description" android:debuggable="false" android:hardwareAccelerated="true">
        
        <!-- Die List/Main activity -->
        <activity
            android:name=".gui.AreaListActivity"
            android:label="@string/app_name"
            android:screenOrientation="sensorLandscape" android:launchMode="singleTop">            
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- die Detailacivity, bei schmalen screens -->
        <activity
            android:name=".gui.AreaDetailActivity"
            android:label="@string/title_area_detail"
            android:screenOrientation="sensorLandscape" android:launchMode="singleTop">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".gui.areaListActivity" />
        </activity>
        
        <!-- Der Bluethooth Service -->
        <service android:name=".comm.BlueThoothComService"></service>        
    </application>

</manifest>