/*
  Stylevorlage für Hilfeanzeige auf den Mobilgeräten
  - Hilfe für SPX32 App "SubmatixBTAndroid4"
  Autor: Dirk Marciniak, Potsdam
*/

/* noch nicht besuchte Ziele */
a:link 
{ 
  text-decoration:none; 
  color: #5E89FF;
}
/* besuchte Ziele */
a:visited 
{ 
  text-decoration:none; 
  font-weight: bold;
  color: #1400AF;
}
/* Verweise bei "MouseOver" */
a:hover 
{
  font-weight: bold;
  color: #F58558;
}
/* Angeklickte Verweise */
a:active 
{ 
  font-weight: bold;
  color: #FFFFFF;
}
/*a:focus { CSS-Eigenschaft:Wert; ... }*/   /* Verweise, die Fokus erhalten */

/* Der Hauptkörper der HTML-Seite */
body
{
  font-family:sans-serif;
  color:#070082;
  background-color:#adadad;
} 

/* Überschriften */
h1
{
  margin-top: 28pt;
  margin-left: 12pt;
  font-size: x-large;
  color: red;
}

h2
{
  margin-top: 18pt;
  margin-left: 14pt;
  font-size: large;
  color: #386BF5;
}

h3
{
  margin-top: 18pt;
  margin-left: 10pt;
  font-size: large;
  color: #00912E;
}

/* Listen */
ul
{ 
  margin-top: 8px;
  margin-bottom: 4px;
  color: #000545;
  font-style: italic;
}

ul.second
{
  color: #0F4F0D;
}

/* Bilder */
img
{
  max-width: 100%;
}

.picWithTitle
{
  margin-top: 12px;
  margin-bottom: 24px;
  border: 2px solid #202020;
  position: relative;
  max-width: 95%;  
}

.picWithTitle img
{
  display: block;
}

.picWithTitle span
{
  color: #07004F;
  font-size: x-large;
  font-family:sans-serif;
  font-weight: bolder;
  background-color: red;
  /*background-color: rgba(245,245,42,0.65);*/
  background-color: rgba(231,230,201,0.65);

  margin-left: 2%;
  margin-right: 2%;
  position: absolute;
  bottom: 16px;
  width: 96%;
  line-height: 2em;
  text-align: center;  
}

span.mark
{
  color: red;
}

a.navi
{
  font-style: bold;
  padding-right: 30px;
  padding-top:12px;
}

/*
a.contentNavigator
{
  font-style: bold;
  padding-left: 30px;
  padding-top:12px;
}
*/

div.contentNavigator
{
  border: 1px solid #A59B92;
  border-radius: 8px;
  text-align: left;
  margin-top: 2px;
  margin-bottom: 1px;
  margin-left: 2%;
  margin-right: 2%;
  max-width: 35em;
  padding-top: 18px;
  padding-left: 30px;
  padding-bottom: 12px;
  background-color: #ECEAE8;
}

div.contentNavigator:hover
{
  border: 1px solid #A59B92;
  font-weight: bold;
  background-color: #F97B7B;
}

div.navigator
{
  border: 1px solid #A59B92;
  border-radius: 12px;
  text-align: right;
  margin-top: 24px;
  margin-bottom: 8px;
  margin-left: 2%;
  margin-right: 2%;
  padding-top: 18px;
  padding-bottom: 12px;
  background-color: #ECEAE8;
}

div.navigator:hover
{
  font-weight: bold;
  background-color: #F97B7B;
  border: 1px solid #FF0000;
}

div.menu
{
  border: 1px solid #808080;
  border-radius: 6px;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 3px;
  margin-left: 0px;
  max-width: 37em;
  background-color: rgba(128,128,128,0.65);
}